<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary" class="toolbar mat-elevation-z5">

  <a mat-button class="docs-button" routerLink="/" aria-label="Home">
    <img class="logo-png" src="../assets/alibabacloud_logo.png" alt="logo">
    <span>{{ title }}</span>
  </a>

  <a mat-button routerLink="/register">Register Face</a>
  <a mat-button routerLink="/recognize">Recognize Face</a>
  <a mat-button routerLink="/list">List Face</a>

</mat-toolbar>

<router-outlet></router-outlet>
