<div class="container">

  <h2>
    Step 1: Take a photo and register
  </h2>

  <mat-card class="photo">

    <video id="video" #video autoplay playsinline></video>
    <canvas id="canvas" #canvas></canvas>
    <br>
    <br>

    <button id="cameraButton" mat-raised-button (click)="onClickCamera()">
      {{ cameraButtonLabel }}
    </button>

    <hr>

    <mat-form-field class="name-field">
      <input matInput [(ngModel)]="name" placeholder="Your name" required>
    </mat-form-field>
    <br>

    <button mat-raised-button (click)="onClickRegister()" [disabled]="!isGoodToRegister()">
      {{ registerButtonLabel }}
    </button>
    <br>

    {{ userMessage }}

  </mat-card>
  <br>

  <a mat-raised-button routerLink="/recognize">
    Move to Step2
    <i class="material-icons">arrow_forward</i>
  </a>

</div>
